# SpendWise — Environment Variables
# Copy this to .env and fill in your values
# NEVER commit .env to git

SECRET_KEY=your-long-random-secret-key-here

DB_HOST=yamabiko.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=your-new-rotated-password
DB_NAME=railway
DB_PORT=46914

# Set to "true" only in local dev
FLASK_DEBUG=false

PORT=10000
